{% extends "base.html" %}

{% block title %}Board{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h1 class="mb-0">To Do</h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for issue in to_do_list %}
                                <li class="list-group-item">
                                    <h5 class="mb-1">{{ issue.summary }}</h5>
                                    <p class="mb-1">Assignee: {{ issue.assignee }}</p>
                                    <p class="mb-0">Description: {{ issue.description }}</p>
                                
                                    <form method="POST" action="'{% url 'update_status' issue.id %}">

                                        <input type="hidden" name="summary" value="{{ issue.summary }}">
                                        <input type="hidden" name="description" value="{{ issue.description }}">
                                        <input type="hidden" name="status" value="in progress">
                                        {% csrf_token %}
                                        <input type="submit" value="start" class="btn btn-success">
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-warning">
                        <h1 class="mb-0">In Progress</h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for issue in in_progress_list %}
                                <li class="list-group-item">
                                    <h5 class="mb-1">{{ issue.summary }}</h5>
                                    <p class="mb-1">Assignee: {{ issue.assignee }}</p>
                                    <p class="mb-0">Description: {{ issue.description }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h1 class="mb-0">Done</h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for issue in done_list %}
                                <li class="list-group-item">
                                    <h5 class="mb-1">{{ issue.summary }}</h5>
                                    <p class="mb-1">Assignee: {{ issue.assignee }}</p>
                                    <p class="mb-0">Description: {{ issue.description }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
